.gambar {
    max-width: 300px;
    width: 100%;
}

.kartu {
    max-width: 300px;
    width: 100%;
    display: inline-block;
    margin: 0 10px;
}

.kartu-header {
    margin: 16px 0;
}

.kartu-header h2 {
    margin: 0;
}
